body {
  background-image: url("img/bg.jpg");
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment:  fixed;
  background-size: cover;
  color:white;
}

header {
  text-align: center;
  margin: 0 auto;
}
.header-img {
//  max-width: 400px;
//  width: 100%;
}
nav a {
  font-family: 'Molle', cursive;
//  text-align: center;
  color:white;


}

nav li {
  display: inline;
  padding-right: 5%;

//  text-align: center;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-family: 'Molle',cursive;
}
p {
 margin: 10px;
 font-family: 'Open Sans Concensed', sans-serif;
}

/*/ footer */
footer {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f0b85b;
  width: 100%;
}
footer img {
  display: inline-block;
  max-width: 80px;
  max-height: 50px;
}
.news  {
  cursor:pointer;
  font-size: 20px;
  width:320px;
  margin: 10px auto;
  text-align: center;
  color:#b6587a;
  background-color: white;
}
.news #molle {
  font-size: 30px;
}
/*///// Home Page */
.home {
  // max-width: 300px;
  text-align: center;
}
.home h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

#desktop-video {
  display: none;
}
.all-at-once {
  font-size: 30px;
}
#molle {
  font-family: 'Molle', cursive;
}

.read-more {
  background-color: #c0d4df;
  padding: .6em;
  display: inline-block;
  max-width: 900px;
  width: 100%;
}

.tips-mobile  {
  width:300px;
  height:auto;
}

.tips-desktop  {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: none;
}

.read-more button {
  cursor:pointer;
  font-size: 34px;
  font-family: 'Molle',cursive;
  padding:6px;
  margin: 2%;
  color:white;
  background-color: #b6587a;
}
.more-text  {
  display: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  text-align: left;
}
#tips {
  font-size: 30px;
  color: #b6587a;
  padding-top: 3px;
}
.partners h2 {
  font-family: 'Molle',cursive;
  font-size: 34px;
}
.partners img {
  max-width: 300px;
  height:auto;
}

/* ****** About Page ******** */
.about {
  max-width: 800px;
}

.about-text img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donate {
  cursor:pointer;
  font-size: 34px;
  font-family: 'Molle',cursive;
  padding:12px;
  color:white;
  background-color: #b6587a;
  margin: 1em auto;
  display: block;
}

.about-photos-container {
  text-align: center;
}

.about-photos-container img {
  max-width: 300px;
  height: auto;
  padding: 1em;
}




/* ***** Community ******* */


.comm-main {
  box-sizing: border-box;
  text-align: center;
}

.accordion {
  list-style-type: none;
  padding: 0;
}
.accordion-control {
  font-family: 'Molle',cursive;
  cursor:pointer;
  font-size: 30px;
  text-align: left;
  width: 100%;
  padding:.2em 1em;
  margin: 2px;
  color:white;
  border: 2px solid;
  outline:none;
  transition: 0.5s;
  background-color: #b3d9f0;
}
.active, .accordion-control:hover {
  background-color: #c0d4df;
  border:2px solid #b6587a;
}

.accordion-panel {
  display: none;
  overflow: hidden;
  padding: 0 18px;
  color: #b6587a;
  font-size: 20px;

}

.comm-main p {
  padding-bottom: 1em;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}



@media (min-width: 500px) {

  nav li {
    font-size: 24px;
  }


  .all-at-once {
    font-size: 50px;
  }
  .about-text img {
    max-width: 200px;
    max-height: 150px;
    padding: 1em;
  }


  #jo-logo, #sea {
    float: right;
  }
  #sleep {
    float:left;
  }


  .column {
    flex-grow: 1;
    flex: 33.33%;
    max-width: 100%;
  }
  .tips-mobile {
  display: none;
 }
 .tips-desktop {
   display: block;
 }
}

@media (min-width: 700px) {
  #mobile-video {
    display: none;
  }
  #desktop-video {
    display: block;
    margin: 0 auto;
  }
  footer {
    display: inline-block;
    width: 100%;
  }
  footer img {
    display: inline-block;
    max-width: 80px;
    max-height: 50px;
  }
  .column {
    flex: 18%;
    max-width: 100%;
  }
}
@media (min-width: 800px) {
  .about-photos-container img {
    max-width: 190px;
    max-height: auto;
    padding: 0;
    align-items: baseline;

  }
}
